.gf-header-menu {
    padding: 0 !important;
    margin: 0 !important;

    // menu button
    .w-nav-control {
        position: relative !important;

        padding: 0 !important;
        margin: 0 !important;

        .w-nav-icon {
            padding: 0 !important;
            margin: 0 !important;

            & > div {
                border-radius: 2px !important;

                &::before,
                &::after {
                    border-radius: 2px !important;
                }
            }
        }

        &.active {
        }
    }
}

// desktop nav
@media only screen and (min-width: $tablet) {
    .gf-header-menu {
        & > ul {
            display: flex !important;
            flex-direction: row !important;
            gap: 3.125rem !important;

            @media only screen and (max-width: 1220px) {
                gap: 2.425rem !important;
            }

            @media only screen and (max-width: 1150px) {
                gap: 1.75rem !important;
            }

            @media only screen and (max-width: 1100px) {
                font-size: 0.9375rem !important;
                gap: 1.5rem !important;
            }

            @media only screen and (max-width: 1000px) {
                font-size: 0.875rem !important;
                gap: 1.4rem !important;
            }
            & > li {
                &:has(#header-menu-footer) {
                    display: none !important;
                }

                a {
                    font-weight: 500 !important;
                    padding: 0 !important;
                }
            }
        }
    }
}

// mobile nav
@media only screen and (max-width: $tablet) {
    // menu open
    html.w-nav-open {
        overflow: hidden !important;

        body {
            margin-top: var(--header-height) !important;

            header {
                z-index: 5 !important;
                position: fixed !important;
                top: 0 !important;
                left: 0 !important;
            }
        }
    }

    // menu general
    .gf-header-menu {
        & > ul {
            min-height: calc(100dvh - var(--header-height)) !important;

            display: flex !important;
            gap: 0.9375rem !important;

            margin: var(--header-height) 0 0 0 !important;
            padding-left: 2.53rem !important;
            padding-right: 2.53rem !important;
            padding-top: 1.75rem !important;
            padding-bottom: 3.125rem !important;

            z-index: 900 !important;

            background-color: $white !important;

            & > li {
                margin: 0 !important;
                padding: 0 !important;

                & > a {
                    padding: 0 !important;
                }
            }

            .w-nav-close {
                display: none !important;
            }
        }
    }
}
