.gf-ul {
    ul {
        margin: 0;

        & > li {
            list-style: none;

            position: relative;
            padding-left: 2.6875rem;

            &:not(:last-child) {
                margin-bottom: 0.9375rem;
            }

            &::before {
                content: "";
                display: block;
                width: 3px;
                height: 3px;
                background-color: #ae3d6c;

                position: absolute;
                top: 0.78125rem;
                left: 1.25rem;
            }
        }
    }
}
