.gf-vouchers-grid {
    &-item {
        position: relative !important;
        overflow: hidden !important;

        & > * {
            position: relative;
            z-index: 2;
        }

        &::before,
        &::after,
        &-btn {
            transition: opacity 0.3s ease-in-out;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
            background: $purple;

            opacity: 0;
        }
        &::before {
            opacity: 1;
        }

        &-btn {
            opacity: 0;
        }

        &:hover {
            &::after {
                opacity: 1;
            }

            &::before {
                opacity: 0;
            }

            .gf-vouchers-grid-item-btn {
                opacity: 1;
            }
        }
    }
}
