.text-16 {
  font-size: 16px;
  line-height: 1.625em;
}
@media only screen and (max-width: 960px) {
  .text-16:not(.text-unresponsive) {
    font-size: 14px;
    line-height: 1.714em;
  }
}
.text-14 {
  font-size: 14px;
  line-height: 1.5em;
}

.font-weight-500 {
  font-weight: 500 !important;
}

.text-purple * {
  color: rgba(61, 56, 158, 0.8509803922) !important;
}

.text-nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.gf-overlay {
  position: relative !important;
  overflow: hidden !important;
}
.gf-overlay > * {
  position: relative;
  z-index: 2;
}
.gf-overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.gf-overlay-blue::before {
  background: linear-gradient(112deg, rgba(15, 14, 43, 0.8) 0%, rgba(15, 14, 43, 0.16) 100%);
}

.w-btn-wrapper {
  margin: 0 !important;
}

section {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
@media only screen and (max-width: 960px) {
  section {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

.col-flex > .vc_column-inner {
  display: flex !important;
  flex-direction: column !important;
}

.col-flex-row > .vc_column-inner {
  display: flex !important;
  flex-direction: row !important;
}

.col-h-full > .vc_column-inner {
  height: 100% !important;
}

.gap-10 {
  gap: 10px !important;
}

@media only screen and (max-width: 960px) {
  .hwrapper-responsive {
    display: flex !important;
    flex-direction: column !important;
  }
}
.hwrapper-gap-20 {
  gap: 1.25rem !important;
}

header > .l-subheader {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
@media only screen and (max-width: 960px) {
  header > .l-subheader {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

.gf-header-menu {
  padding: 0 !important;
  margin: 0 !important;
}
.gf-header-menu .w-nav-control {
  position: relative !important;
  padding: 0 !important;
  margin: 0 !important;
}
.gf-header-menu .w-nav-control .w-nav-icon {
  padding: 0 !important;
  margin: 0 !important;
}
.gf-header-menu .w-nav-control .w-nav-icon > div {
  border-radius: 2px !important;
}
.gf-header-menu .w-nav-control .w-nav-icon > div::before, .gf-header-menu .w-nav-control .w-nav-icon > div::after {
  border-radius: 2px !important;
}
@media only screen and (min-width: 960px) {
  .gf-header-menu > ul {
    display: flex !important;
    flex-direction: row !important;
    gap: 3.125rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1220px) {
  .gf-header-menu > ul {
    gap: 2.425rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1150px) {
  .gf-header-menu > ul {
    gap: 1.75rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1100px) {
  .gf-header-menu > ul {
    font-size: 0.9375rem !important;
    gap: 1.5rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1000px) {
  .gf-header-menu > ul {
    font-size: 0.875rem !important;
    gap: 1.4rem !important;
  }
}
@media only screen and (min-width: 960px) {
  .gf-header-menu > ul > li:has(#header-menu-footer) {
    display: none !important;
  }
  .gf-header-menu > ul > li a {
    font-weight: 500 !important;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  html.w-nav-open {
    overflow: hidden !important;
  }
  html.w-nav-open body {
    margin-top: var(--header-height) !important;
  }
  html.w-nav-open body header {
    z-index: 5 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
  }
  .gf-header-menu > ul {
    min-height: calc(100dvh - var(--header-height)) !important;
    display: flex !important;
    gap: 0.9375rem !important;
    margin: var(--header-height) 0 0 0 !important;
    padding-left: 2.53rem !important;
    padding-right: 2.53rem !important;
    padding-top: 1.75rem !important;
    padding-bottom: 3.125rem !important;
    z-index: 900 !important;
    background-color: #fff !important;
  }
  .gf-header-menu > ul > li {
    margin: 0 !important;
    padding: 0 !important;
  }
  .gf-header-menu > ul > li > a {
    padding: 0 !important;
  }
  .gf-header-menu > ul .w-nav-close {
    display: none !important;
  }
}
html,
body,
main {
  overflow-x: clip !important;
}

.noscroll body {
  overflow: hidden !important;
}

.clickbox {
  cursor: pointer;
}

.modal {
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease-in-out;
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
}
.modal .modal-close {
  cursor: pointer;
}

.swiper-section > .l-section-h > .g-cols {
  display: flex !important;
}

.gf-ul ul {
  margin: 0;
}
.gf-ul ul > li {
  list-style: none;
  position: relative;
  padding-left: 2.6875rem;
}
.gf-ul ul > li:not(:last-child) {
  margin-bottom: 0.9375rem;
}
.gf-ul ul > li::before {
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  background-color: #ae3d6c;
  position: absolute;
  top: 0.78125rem;
  left: 1.25rem;
}

.gf-vouchers-grid-item {
  position: relative !important;
  overflow: hidden !important;
}
.gf-vouchers-grid-item > * {
  position: relative;
  z-index: 2;
}
.gf-vouchers-grid-item::before, .gf-vouchers-grid-item::after, .gf-vouchers-grid-item-btn {
  transition: opacity 0.3s ease-in-out;
}
.gf-vouchers-grid-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(61, 56, 158, 0.8509803922);
  opacity: 0;
}
.gf-vouchers-grid-item::before {
  opacity: 1;
}
.gf-vouchers-grid-item-btn {
  opacity: 0;
}
.gf-vouchers-grid-item:hover::after {
  opacity: 1;
}
.gf-vouchers-grid-item:hover::before {
  opacity: 0;
}
.gf-vouchers-grid-item:hover .gf-vouchers-grid-item-btn {
  opacity: 1;
}

.swiper-section > .gf-columns-swiper {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
@media only screen and (min-width: 960px) {
  .swiper-section > .gf-columns-swiper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
@media only screen and (min-width: 960px) {
  .swiper-section > .gf-columns-swiper > .g-cols > .swiper-slide {
    flex-shrink: 1 !important;
  }
}
.swiper-section > .gf-columns-swiper .swiper-scrollbar {
  position: static !important;
  height: 2px !important;
  margin-top: 2.875rem !important;
  background: #ebebf7 !important;
}
.swiper-section > .gf-columns-swiper .swiper-scrollbar .swiper-scrollbar-drag {
  background: #504f75 !important;
}
@media only screen and (min-width: 960px) {
  .swiper-section > .gf-columns-swiper .swiper-scrollbar {
    display: none !important;
  }
}

.gf-vouchers-list-item {
  transition: all 0.3s ease !important;
  padding: 0 !important;
}
.gf-vouchers-list-item-button {
  display: block !important;
  margin-top: auto !important;
}
.gf-vouchers-list-item:hover {
  box-shadow: 0px 5px 40px 0px rgba(0, 0, 0, 0.1019607843);
}
.gf-vouchers-list-item:hover .gf-vouchers-list-item-link {
  color: rgba(61, 56, 158, 0.8509803922) !important;
}
.gf-vouchers-list-item:hover .gf-vouchers-list-item-button {
  background: rgba(61, 56, 158, 0.8509803922) !important;
  border-color: rgba(61, 56, 158, 0.8509803922) !important;
  color: #ffffff !important;
}

.gf-vouchers-carousel > .w-grid-list > .owl-nav {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  width: 100% !important;
  height: auto !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  top: 28% !important;
  left: 0 !important;
}
.gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-prev,
.gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-next {
  z-index: 3 !important;
  position: relative;
  display: block !important;
  width: 44px !important;
  height: 44px !important;
  margin: 0 !important;
  padding: 0 !important;
  background-color: #fff !important;
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.0784313725) !important;
  border-radius: 50% !important;
}
@media only screen and (max-width: 960px) {
  .gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-prev,
  .gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-next {
    width: 32px !important;
    height: 32px !important;
  }
}
.gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-prev::after,
.gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-next::after {
  content: "" !important;
  display: block !important;
  width: 20px !important;
  height: 20px !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  background-image: url("/wp-content/plugins/giftero-core/public/images/arrow-simple.svg") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
.gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-prev::before,
.gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-next::before {
  display: none !important;
}
.gf-vouchers-carousel > .w-grid-list > .owl-nav .owl-prev {
  transform: rotate(180deg) !important;
}
.gf-vouchers-carousel > .w-grid-list > .owl-dots {
  padding: 0 !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  gap: 8px !important;
}
.gf-vouchers-carousel > .w-grid-list > .owl-dots > .owl-dot > span {
  margin: 0 !important;
  box-shadow: none !important;
  border: none !important;
  height: 6px !important;
  width: 6px !important;
  background-color: #0f0e2b !important;
  opacity: 0.2 !important;
}
.gf-vouchers-carousel > .w-grid-list > .owl-dots > .owl-dot.active > span {
  opacity: 1 !important;
}
