.text-16 {
  font-size: 16px;
  line-height: 1.625em;
}
@media only screen and (max-width: 960px) {
  .text-16:not(.text-unresponsive) {
    font-size: 14px;
    line-height: 1.714em;
  }
}
.text-14 {
  font-size: 14px;
  line-height: 1.5em;
}

.text-nowrap {
  white-space: nowrap;
}

.text-underline {
  text-decoration: underline;
}

.w-btn-wrapper {
  margin: 0 !important;
}

section {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
@media only screen and (max-width: 960px) {
  section {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

.col-flex > .vc_column-inner {
  display: flex !important;
  flex-direction: column !important;
}

.col-flex-row > .vc_column-inner {
  display: flex !important;
  flex-direction: row !important;
}

.col-h-full > .vc_column-inner {
  height: 100% !important;
}

.gap-10 {
  gap: 10px !important;
}

header > .l-subheader {
  padding-left: 2.5rem !important;
  padding-right: 2.5rem !important;
}
@media only screen and (max-width: 960px) {
  header > .l-subheader {
    padding-left: 1.25rem !important;
    padding-right: 1.25rem !important;
  }
}

.gf-header-menu {
  padding: 0 !important;
  margin: 0 !important;
}
.gf-header-menu .w-nav-control {
  position: relative !important;
  padding: 0 !important;
  margin: 0 !important;
}
.gf-header-menu .w-nav-control .w-nav-icon {
  padding: 0 !important;
  margin: 0 !important;
}
.gf-header-menu .w-nav-control .w-nav-icon > div {
  border-radius: 2px !important;
}
.gf-header-menu .w-nav-control .w-nav-icon > div::before, .gf-header-menu .w-nav-control .w-nav-icon > div::after {
  border-radius: 2px !important;
}
@media only screen and (min-width: 960px) {
  .gf-header-menu > ul {
    display: flex !important;
    flex-direction: row !important;
    gap: 3.125rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1220px) {
  .gf-header-menu > ul {
    gap: 2.425rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1150px) {
  .gf-header-menu > ul {
    gap: 1.75rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1100px) {
  .gf-header-menu > ul {
    font-size: 0.9375rem !important;
    gap: 1.5rem !important;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1000px) {
  .gf-header-menu > ul {
    font-size: 0.875rem !important;
    gap: 1.4rem !important;
  }
}
@media only screen and (min-width: 960px) {
  .gf-header-menu > ul > li:has(#header-menu-footer) {
    display: none !important;
  }
  .gf-header-menu > ul > li a {
    font-weight: 500 !important;
    padding: 0 !important;
  }
}
@media only screen and (max-width: 960px) {
  html.w-nav-open {
    overflow: hidden !important;
  }
  html.w-nav-open header {
    z-index: 5 !important;
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
  }
  .gf-header-menu > ul {
    min-height: calc(100dvh - var(--header-height)) !important;
    display: flex !important;
    gap: 0.9375rem !important;
    margin: var(--header-height) 0 0 0 !important;
    padding-left: 2.53rem !important;
    padding-right: 2.53rem !important;
    padding-top: 1.75rem !important;
    padding-bottom: 3.125rem !important;
    z-index: 900 !important;
    background-color: #fff !important;
  }
  .gf-header-menu > ul > li {
    margin: 0 !important;
    padding: 0 !important;
  }
  .gf-header-menu > ul > li > a {
    padding: 0 !important;
  }
  .gf-header-menu > ul .w-nav-close {
    display: none !important;
  }
}
html,
body,
main {
  overflow-x: clip !important;
}

.noscroll body {
  overflow: hidden !important;
}

.clickbox {
  cursor: pointer;
}

.modal {
  overflow-y: auto;
  overflow-x: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s ease-in-out;
}
.modal.active {
  opacity: 1;
  pointer-events: auto;
}
.modal .modal-close {
  cursor: pointer;
}
