// colors
$white: #fff;
$light: #ebebf7;
$purple: #3d389ed9;
$light-purple: #504f75;
$blue: #0f0e2b;
$pink: #ae3d6c;

// gradients
$gradient-blue: linear-gradient(
    112deg,
    rgba(15, 14, 43, 0.8) 0%,
    rgba(15, 14, 43, 0.16) 100%
);
