section {
    padding-left: 2.5rem !important;
    padding-right: 2.5rem !important;

    @media only screen and (max-width: $tablet) {
        padding-left: 1.25rem !important;
        padding-right: 1.25rem !important;
    }
}

// utils
.col-flex {
    & > .vc_column-inner {
        display: flex !important;
        flex-direction: column !important;
    }
}

.col-flex-row {
    & > .vc_column-inner {
        display: flex !important;
        flex-direction: row !important;
    }
}

.col-h-full {
    & > .vc_column-inner {
        height: 100% !important;
    }
}

.gap {
    &-10 {
        gap: 10px !important;
    }
}
