.title {
    &-24 {
        font-size: 1.5rem;
        line-height: 1.25em;
    }
}

.subtitle {
}

.text {
    &-16 {
        font-size: 16px;
        line-height: 1.625em;

        &:not(.text-unresponsive) {
            @media only screen and (max-width: $tablet) {
                font-size: 14px;
                line-height: 1.714em;
            }
        }
    }

    &-14 {
        font-size: 14px;
        line-height: 1.5em;
    }
}

// font weight
.font-weight {
    &-500 {
        font-weight: 500 !important;
    }
}

// text color
.text {
    &-purple {
        * {
            color: $purple !important;
        }
    }
}

// general classes
.text-nowrap {
    white-space: nowrap;
}
.text-underline {
    text-decoration: underline;
}
